/*========= Resert =========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font: 'DM Sans', Sans-Serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/*========= Variaveis ==========*/

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 215;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 40% 45%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --text-font-size: 1.5rem;

  --title-font: 'Poppins', Sans-Serif;
  --body-font: 'DM Sans', Sans-Serif;
}

/*========= Base =========*/

html {
  /* não esta funcionando no chrome apenas firefox*/
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: antialiased;
}

.divider-1 {
  height: 0.15rem;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 0.15rem;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*========= Layout =========*/

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.button {
  background-color: var(--base-color-alt);
  color: var(--text-color-light);

  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.31rem;

  transition: background 0.3s;

  font: 500 1rem var(--body-font);
}

.button:hover {
  background-color: var(--base-color);
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color-alt);
}

#header {
  border-bottom: 0.0625rem solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.09);
}

/*=========== Logo =============*/

.logo span {
  color: var(--base-color-alt);
}

.logo {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
}

.logo-alt span {
  color: var(--text-color-light);
}

/*========== navigation ==========*/

nav {
  height: 4.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color-alt);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 0.125rem;
  background: var(--base-color-alt);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.3s;
}

nav .menu ul {
  display: none;
}

/*========= Show Menu ==========*/

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/*== toggle menu ==*/

.toggle {
  color: var(--base-color-alt);
  font-size: var(--text-font-size);
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
}

/*========= Home =========*/

#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}
#home .image img {
  position: relative;
  right: 2rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.31rem;
}

#home .text {
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/*======== About ========*/

#about {
  overflow: hidden;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -10.8%;
  left: -30.8%;
  z-index: 0;
}

#about .image::before {
  border-radius: 0.31rem;
}

#about .image img {
  position: relative;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*======== Services ========*/

.cards {
  gap: 1.5rem;
}

.card {
  margin-bottom: 1rem;
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
  border-bottom: 0.25rem solid var(--base-color-alt);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color-alt);
}

.card .title {
  font-size: var(--text-font-size);
  margin-bottom: 0.75rem;
}

#icon {
  font-size: 7rem;
}

/*======== Testimonials ========*/

#feedbacks {
  background-color: #fff;
}

#feedbacks header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#feedbacks blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
  border: 0.31rem;
}
#feedbacks blockquote p {
  position: relative;
  text-indent: 1.875rem;
  color: var(--title-color);

  margin-bottom: 1.5rem;
}

#feedbacks blockquote p span {
  font: 700 2.5rem serif;

  position: absolute;
  top: -0.25rem;
  left: -1.875rem;

  color: var(--base-color-alt);
}

#feedbacks cite {
  display: flex;
  align-items: center;
}

#feedbacks cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

#feedbacks .container {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
/* Swiper */

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination {
  position: absolute;
}
.swiper-pagination-bullet-active {
  background: var(--base-color-alt);
}

.icon-phone {
  color: var(--base-color-alt);
}

/*======== Contact ========*/

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: var(--text-font-size);
  margin-right: 0.675rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color-alt);
}

/*====== Footer =========*/

footer {
  background: var(--base-color-alt);
}

footer.section {
  padding: 4rem 0;
}

footer .grid {
  gap: 2rem;
}

footer .brand .logo {
  display: inline-block;
  margin-bottom: 2rem;
}

footer .brand p {
  color: var(--body-color);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: var(--text-font-size);
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  display: inline-block;
  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-0.8rem);
}

/* Arrow */

.back-to-top {
  background: var(--base-color-alt);
  color: var(--body-color);

  font-size: var(--text-font-size);
  line-height: 0;

  padding: 0.675rem;

  position: fixed;
  bottom: 1rem;
  right: 1rem;

  clip-path: circle();

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* Responsividade */

@media (min-width: 1200px) {
  /*Reausible Classes*/
  .button {
    height: 3.125rem;
  }

  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #feedbacks header {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* Navigatino */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .icon-menu {
    display: none;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 700 1rem var(--title-font);
  }

  /* Home */

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* About */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */
  .cards {
    grid-auto-flow: column;
    justify-content: space-between;
  }

  /* Feedbacks */
  #feedbacks .container {
    margin-left: auto;
    margin-right: auto;
  }

  #feedbacks .testimunials {
    grid-auto-flow: column;
    justify-content: space-between;
  }

  #feedbacks blockquote {
    max-width: 40rem;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
  }

  /* Contact */
  #contact .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #contact .text {
    max-width: 24rem;
  }

  /* Footer */
  footer .container {
    grid-auto-flow: column;
    justify-content: space-between;
  }
  main {
    margin-top: calc(var(--header-height));
  }
}
